@font-face {
  font-family: "Raleway";
  src:
    url("/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src:
    url("/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src:
    url("/fonts/Raleway/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root {
  --lightest-teal: hsla(180, 65%, 90%, 1);
  --light-teal: hsla(180, 65%, 75%, 1);
  --teal: hsla(180, 60%, 50%, 1);
  --transp-teal: hsla(180, 80%, 40%, 0.5);
  --dark-teal: hsla(180, 90%, 30%, 1);
  --darkest-teal: hsla(180, 100%, 15%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 100%, 0%, 1);
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.25em;
  background-color: var(--light-teal);
  text-align: center;
  color: var(--white);
  z-index: 0;
  overflow: visible;
}

header {
  background-color: var(--teal);
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

header a {
  background-color: var(--dark-teal);
  font-size: 1.2em;
  text-align: center;
  border-radius: 0.5em;
}

header a:hover {
  background-color: var(--darkest-teal);
}

header h1, header a {
  float: left;
  margin: 0.5rem;
  padding: 1rem;
}

nav {
  float: right;
}

@media screen and (max-width: 940px) {
  header a {
    float: none;
    display: block;
  }
  nav {
    float: none;
  }
  header h1 {
    float: none;
    line-height: 1em;
  }
  section {
    width: 100% !important;
  }
  .buttons {
    width: fit-content !important;
  }
}

p {
  font-size: 1em;
}

h1 {
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  margin: 2rem auto 2rem 6rem;
}

h2 {
  font-size: 1.3rem;
  text-decoration: underline;
  line-height: 1.25em;
  margin: 1.5rem;
}

h3 {
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.25em;
  margin: 1.5rem;
}

h4 {
  font-size: 1.15rem;
  font-weight: bold;
  line-height: 1.1em;
  margin: 1rem;
}

.separator {
  margin: 2rem auto;
  border: thin dashed var(--white);

}

a {
  text-decoration: underline;
  color: var(--white);
  nav {
    margin: 1rem;
  }
}

a:hover {
  -webkit-text-stroke: 0.05em;
}

.dates {
    font-style: italic;
    margin: 1rem;
}

main {
  width: 100%;
  }

section {
  background-color: var(--transp-teal);
  width: 85%;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 1rem;
  min-width: 20rem;
  box-sizing: border-box;
}

.left {
  text-align: left;
}

ul li {
  text-align: left;
  padding: 0.5rem 0rem;
  list-style-type: none;
}

ul li::before {
  content: "♦";
  padding-right: 0.5rem;
}

.buttons {
  width: fit-content;
}

#workicon, #worktext {
  height: 6rem;
  z-index: 2;
  margin: 0.5rem;
}

#workicon {
  width: 6rem;
  float: left;
}

#workicon:hover {
  opacity: 0.75;
  transform: scale(1.1);
}

#worktext {
  background-color: var(--dark-teal);
  background-clip: padding-box;
  border: 5px solid var(--dark-teal);
  color: var(--white);
  text-decoration: none;
  float: right;
  text-align: center;
  box-sizing: border-box;
  padding: 2rem 0.5rem;
  word-wrap: normal;
}

#worktext:hover {
  transform: scale(1.1);
  font-size: 1rem;
  background-color: var(--lightest-teal);
  background-clip: padding-box;
  border: 5px solid var(--dark-teal);
  color: hsla(180, 100%, 30%, 1);
  -webkit-text-stroke: 0;
}
